body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}
#gameboard{
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
   
}
.square{
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: solid black 2px;
    box-sizing: border-box;
}
.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 12px blue solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cross{
    width: 90px;
    height: 90px;
    position: relative;
    transform: rotate(45deg);
}
.cross:before,.cross:after {
    content: "";
    position: absolute;
    background-color: red;
}
.cross:before{
    left: 40%;
    top: 4%;
    width: 30%;
    margin-left: 0px;
    height: 100%;
     
}
.cross:after {
    top: 40%;
    left: 4%;
    height: 30%;
    margin-left: 0px;
    width: 100%;

}
